In [1]:
import sklearn
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_diabetes

In [ ]:
data = load_diabetes()
df = pd.DataFrame(data.data, columns=data.feature_names)
target = pd.Series(data.target, name='target')
df['target'] = target

In [6]:
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0

## implementing linear regression using sklearn

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(df['age'], df['target'], test_size=0.2, random_state=42)

In [44]:
X_train = np.array(X_train).reshape(-1, 1)
Y_train = np.array(Y_train)

In [45]:
reg = LinearRegression()
reg.fit(X_train, Y_train)
print(f"Model coefficients: {reg.coef_}")
print(f"Model intercept: {reg.intercept_}")

Model coefficients: [331.072172]
Model intercept: 153.25920153319478

## Implementing the same using custom code

In [ ]:
class MyLinearRegression:
    def __init__(self):
        self.coef = None
        self.intercept = None
    
    def fit(self, X, Y):
        X_mean = np.mean(X)
        Y_mean = np.mean(Y)
        num = 0
        den =0
        for i in range(X.shape[0]):
            num += (X[i] - X_mean) * (Y[i] - Y_mean)
            den += (X[i] - X_mean) ** 2
        self.coef = num / den
        self.intercept = Y_mean - self.coef * X_mean
        
        return self

    def predict(self, X):
        return X * self.coef + self.intercept

In [50]:
my_reg = MyLinearRegression()
my_reg.fit(X_train, Y_train)

In [52]:
print(f"Model coefficients: {my_reg.coef}")
print(f"Model intercept: {my_reg.intercept}")

Model coefficients: [331.072172]
Model intercept: [153.25920153]